<!doctype html>
<html lang="en">

<head>
  <title>Nkwanzi medical center</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="icon" href="/public/img/IMG-20221127-WA0001.jpg">
    <link rel="stylesheet" href="/home.css">

</head>

<body>
  <header>
    <!-- place navbar here -->
    <nav class="navbar navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <div class="navbar-brand" style="transform: translateY(-10px); margin-left: -12px;">
            <img src="/public/img/IMG-20221126-WA0002.jpg" style="width: 400px; height: 83px;">
        </div>
        <div class="nav-list">
            <ul>
                <a href="#"><li>Recieption</li></a>
                <a href="#"><li>Patients info</li></a>
                <a href="#"><li>Medical team</li></a>
                <a href="#"><li>Career info</li></a>
            </ul>
        </div>
        <button class="icon" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar" style="border: none;">
          <img src="/public/img/Life-status.png" style="height: 60px; width: 60px;">
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <img src="/public/img/IMG-20221127-WA0002.jpg" style="width: 500px; height: 100px; margin: 0;">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                  <a class="dropdown-item" href="#">Action 1</a>
                  <a class="dropdown-item" href="#">Action 2</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>

    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="3" aria-label="fourth slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="4" aria-label="fifth slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="5" aria-label="sixth slide"></li>
            <li data-bs-target="#carouselId" data-bs-slide-to="6" aria-label="seventh slide"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="/public/img/IMG-20221126-WA0002.jpg" class=" d-block" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Title</h3>
                    <p>Description</p>
                </div>
            </div>
            <div class="carousel-item">
              <img src="/public/img/Medical-stuff.jpg" class=" d-block" alt="Second slide">
              <div class="carousel-caption d-none d-md-block">
                  <h3>Title</h3>
                  <p>Description</p>
              </div>
            </div>
            <div class="carousel-item">
                <img src="/public/img/patients-care.jpg" class=" d-block" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Title</h3>
                    <p>Description</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/public/img/pregnant.jpg" class=" d-block" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Title</h3>
                    <p>Description</p>
                </div>
            </div>
            <div class="carousel-item">
              <img src="/public/img/dental.png" class=" d-block" alt="Second slide">
              <div class="carousel-caption d-none d-md-block">
                  <h3>Title</h3>
                  <p>Description</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/public/img/medical-councelling.jpg" class=" d-block" alt="Second slide">
              <div class="carousel-caption d-none d-md-block">
                  <h3>Title</h3>
                  <p>Description</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/public/img/Nutrition.jpg" class=" d-block" alt="Second slide">
              <div class="carousel-caption d-none d-md-block">
                  <h3>Title</h3>
                  <p>Description</p>
              </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
  </main>
  <footer>
    <!-- place footer here -->
    <div class="footer-content" style="text-align: center; color: #fff; height: 15rem;">
        <h2>Nkwanzi Medical Center</h2>
        <p>Address: <span>Masooli village</span></p>
        <p>Tel: <span>+256708930925</span></p>
    </div>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>