doctype html
head
  title Patients Register
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS v5.2.1
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
  link(rel='stylesheet' href='css/form.css')
header
  // place navbar here
main
  .container
    .row.justify-content-center.align-items-center
      h1 Nkwanzi medical center.
      .col-lg-8.cage(style='text-align: center; margin: 50px')
        h3 Patients' Registration.
        hr
        form(action='/patientsReg' name='register' method='POST' onsubmit='validate0();')
          .row.justify-content-center.align-items-center
            .col-lg-6.form-fields
              label(for='')
                | First Name:
              input(type='text' name='fName')
              small#fNameerr
            .col-lg-6.form-fields
              label(for='')
                | Last Name:
              input(type='text' name='lName')
              small#lNameerr
            .col-lg-6.form-fields
              label(for='')
                | Date:
              input(type='date' name='regDate')
              small#regDateerr
            .col-lg-6.form-fields
              label(for='')
                | Date of birth:
              input(type='date' name='DOB')
              small#DOBerr
            .col-lg-6.form-fields
              label(for='')
                | Identity:
              select(name='identity')
                option(value="") Select option
                option(value="Patient") Patient
              small#identityerr
            .col-lg-6.form-fields
              label(for='')
                | Weight(kg):
              input(type='text' name='weight')
              small#weighterr
            .col-lg-6.form-fields
              label(for='')
                | Place of residence:
              input(type='text' name='resName')
              small#resNameerr
            .col-lg-12
              .form-radio
                label(for='')
                  | Gender 
                  span(style='color:magenta; font-weight:900;') *
                .radio
                  label Male 
                    span(style='color:teal; font-weight:900;')  :
                  input(type='radio' name='sex' value='male' checked)
                  label Female 
                    span(style='color:teal; font-weight:900;')  :
                  input(type='radio' name='sex' value='female')
            .col-lg-6
              input.button(type='submit' value='register')
footer
  // place footer here
// Bootstrap JavaScript Libraries
script(src='./js/repValidation.js')