doctype html
head
  title Treatment
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS v5.2.1
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT' crossorigin='anonymous')
  link(rel='stylesheet' href='css/form.css')
header
  // place navbar here
main
  .container.my-2.g-2
    .row.justify-content-center.align-items-center
      h1 Nkwanzi medical center.
      .col-lg-8.cage(style='text-align: center; margin-top:12px;')
        h3 Patients' treatment information.
        hr
        form(action='/treatment' name='register' method='POST' onsubmit='return validate1();')
          .row.justify-content-center.align-items-center
            .col-lg-6.form-fields
              label(for='')
                | First Name:
              input(type='text' name='fName')
              small#fNameerr
            .col-lg-6.form-fields
              label(for='')
                | Last Name:
              input(type='text' name='lName')
              small#lNameerr
            .col-lg-6.form-fields
              label(for='')
                | Date:
              input(type='date' name='date')
              small#dateerr
            .col-lg-6.form-fields
              label(for='')
                | Age:
              input(type='number' name='age')
              small#ageerr
            .col-lg-6.form-fields
              label(for='')
                | Sickness:
              input(type='text' name='sickness')
              small#sicknesserr
            .col-lg-6.form-fields
              label(for='')
                | Weight(kg):
              input(type='text' name='weight')
              small#weighterr
            .col-lg-6.form-fields
              label(for='')
                | Medicine:
              input(type='text' name='medicine')
              small#medicineerr
            .col-lg-6.form-fields
              label(for='')
                | Nutrition:
              input(type='text' name='nutrition')
              small#nutritionerr
            .col-lg-6.form-fields
              label(for='')
                | Medical fee:
              input(type='number' name='fee')
              small#feeerr
            .col-lg-6.form-fields
              label(for='')
                | Address:
              input(type='text' name='resName')
              small#resNameerr
            .col-lg-12
              .form-radio
                label(for='')
                  | Gender 
                  span(style='color:magenta; font-weight:900;') *
                .radio
                  label Male 
                    span(style='color:teal; font-weight:900;')  :
                  input(type='radio' name='sex' value='male' checked)
                  label Female 
                    span(style='color:teal; font-weight:900;')  :
                  input(type='radio' name='sex' value='female')
            .col-lg-8
              input.button(type='submit' value='register')
footer
  // place footer here
// Bootstrap JavaScript Libraries
script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js' integrity='sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js' integrity='sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz' crossorigin='anonymous')
script(src='/js/treatmentValidation.js')